# Default ignored files
/../../../:findPapers/.idea/shelf/
/../../../:findPapers/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:findPapers/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:findPapers/.idea/dataSources/
/../../../:findPapers/.idea/dataSources.local.xml
